.blogs__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.blog__card > a {
    text-decoration: none !important;
    color:black !important;
}
.blog__card{
    width: 30%;
    margin:auto;
    padding: 10px;
    transition: transform 100ms ease-in;
}
.blog__card:hover{
    transform: scale(1.05);
}
.blog__card > a> img {
    width: 100%;
    margin:15px 0;
    border: 1px solid;
}
.blog__heading{
    display: flex;
    justify-content: space-between;
}
.blog__heading > .MuiSvgIcon-root{
    cursor: pointer;
}
.blog__delete{
    display: none;
    width: 100px;
    background-color: lightcoral;
    text-align: center;
    margin: auto;
    font-size: medium;
    cursor: pointer;
}