.blogs__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.blog__card > a {
    text-decoration: none !important;
    color:black !important;
}
.blog__card{
    
    width: 30%;
    margin:auto;
    padding: 10px;
}

.blog__card > a> img {
    width: 100%;
    margin:15px 0;
    border: 1px solid;
}
.blog__heading{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.blog__heading > .MuiSvgIcon-root{
    cursor: pointer;
}
.blog__menu{
    display: none;
}
.blog__menu--show{
  
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 10px;
    font-size: medium;
    cursor: pointer;
    position: absolute;
    right: -120px;
    box-shadow:2px 2px 2px 2px #ccc;
}
